#bottom-container {
    display: flex;
    height: auto;
}

.bottom-item{
    display: flex;
    flex: 1;
}

.bottom-item:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1.5rem;

}

.bottom-img-container {
    width: 96px;
}

.bottom-img {
        width: 100%; 
        height: auto;  
}

.bottom-info-container {
  margin-left: 1rem;
  flex: 1;
}


.bottom-title {
    font-size: 2rem;
    color: hsl(5, 85%, 63%);
}

.bottom-subtitle{
    font-size: 1.1rem;
    margin: 0.5em 0;

}
.bottom-subtitle a{
color:  hsl(240, 100%, 5%);
transition: 0.3s;
}
.bottom-subtitle a:hover{
color:   hsl(5, 85%, 63%);
}

.bottom-paragraph{
    font-size: 15px;
    color:   hsl(236, 13%, 42%);
    line-height: 1.3em;
}