
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

figure{

}

.logo-img{

}

nav{
    width: 400px;

}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a{
color: hsl(236, 13%, 42%);
transition: 0.3s;
}
.nav-links a:hover{
color: hsl(5, 85%, 63%);
}
